.container {
  display: flex;
}

.resizer_horizontal,
.resizer_vertical {
  background-color: var(--resizable-bar-colour);
  user-select: none;
}

.resizer_horizontal {
  width: 2px;
  cursor: ew-resize;
  margin-right: 0.5rem;
}

.resizer_horizontal_enlarge {
  width: 4px;
}

.resizer_vertical {
  height: 2px;
  cursor: ns-resize;
  margin-bottom: 0.5rem;
}

.resizer_vertical_enlarge {
  height: 4px;
}
