.runner-wrapper {
  display: flex;
  align-items: center;
  transition: all 0.5s ease; /* Adjust the duration and timing function as needed */
}

.run_container {
  background-color: #1c463e;
}

.run_container:disabled {
  cursor: not-allowed !important;
}

.stop_container {
  background-color: #353535;
}

.loading_container {
  background-color: #353535;
}

.run_container:hover {
  cursor: pointer;
  background-color: #4ec9b0;
}

.stop_container:hover {
  cursor: pointer;
  background-color: #4d4d4d;
}

.run_container,
.stop_container,
.loading_container {
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  color: white;
  padding: 8px;
  border-radius: 6px;
}

.runner_text {
  margin-left: 8px;
}

/* Ring Loader */
.lds_ring {
  display: inline-block;
  position: relative;
  width: 16px; /* Adjust the width to make the loader smaller */
  height: 16px; /* Adjust the height to make the loader smaller */
}
.lds_ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 12px; /* Adjust the width to make each ring smaller */
  height: 12px; /* Adjust the height to make each ring smaller */
  margin: 1px; /* Adjust the margin to control the spacing between rings */
  border: 1px solid #fff; /* Adjust the border thickness */
  border-radius: 50%;
  animation: lds_ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds_ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds_ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds_ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds_ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
