.notepad {
  padding: 0.5rem;
  flex-grow: 1;
  background-color: var(--notepad-background-colour);
  outline: none;
  color: var(--text-primary);
  max-height: 100%;
  overflow: auto;
  border-radius: 6px;
}
