.navbar {
  background-color: var(--background-colour);
  color: var(--text-primary);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  font-size: 0.8rem;
  padding: 0.5rem;
}

.navbar_section_left,
.navbar_section_right {
  width: 100%;
  display: flex;
  align-items: center;
}

.navbar_section_right {
  justify-content: space-between;
}

.navbar_section_right_right {
  display: flex;
  align-items: center;
  user-select: none;
}

.invite_container:hover {
  cursor: pointer;
  background-color: #353535;
}

.invite_container {
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  color: white;
  padding: 8px;
  border-radius: 6px;
  height: 100%;
  background-color: #1e1e1e;
}

.theme_toggler {
  margin-right: 2rem;
  padding: 8px;
  border-radius: 6px;
}

.invite_text {
  margin-left: 8px;
}

.language_select {
  font-size: 0.8rem;
  padding: 8px;
  border-radius: 6px;
  height: 100%;
  font-weight: 600;
  margin-left: 1.5rem;
  background-color: var(--text-primary);
  color: var(--background-colour);
}

.filename {
  color: var(--text-primary);
  outline: none;
  width: 20%;
  max-width: 20%;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 600;
}

.theme_toggler {
  margin-top: 5px;
  height: 100%;
}

.theme_toggler:hover {
  cursor: pointer;
}
